// 'Poppins', sans-serif;

$light-blue: hsl(208, 66%, 40%);
$light-grey: #98a2a8;
$dark-grey: #3f3f3f;
$wight: #ffffff;

$font-text: 'Poppins', sans-serif;
$Font-heading: 'Baloo 2 ', cursive ;
$fsize: 16px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-text;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate();
}