<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Chat Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Static/Page.css">
</head>
<body>
    <main>
        <header>
            <div class="title">
                <img src="../Icons and Images/Dude.png" alt="Logo or sth" width="35px">
                <H1>

                    JBN ChatPage
                    
                </H1>
            </div>
            <button type="button">
                <img src="../Icons and Images/Screenshot (12).png" alt="" width="50px">
            </button>
        </header>

    </main>



</body>
</html>
